.blue
{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
}
.red
{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;

}
.pink
{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px; 
}
.white
{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
}
.container
{
    display: flex;
    background-color:pink ;
    justify-content: center;
    align-items: center ;
    justify-content: space-between;
}
.Ncontainer

{
    display: flex;
    background-color: pink;
    justify-content: space-between;
}